<h1>Editing Partnership Application</h1>

<%= render 'form', partnership_application: @partnership_application %>

<%= link_to 'Show', @partnership_application %> |
<%= link_to 'Back', partnership_applications_path %>
