<div class="content medium written">

	<h1 class="underlined-header">Partnerships</h1>

	<h2 class="centered">A growing distribution channel for your business</h2>

	<p>thatHQ helps connect customers with the highest quality products from black-owned businesses.</p>

	<p>We are a distribution channel that connects our audience with a curated selection of black-owned companies that sell high quality products, including books, apparel, ... We connect our partner companies with thousands of potential new customers using email marketing, social networks, and online ad campaigns.</p>
	
	<p>Our goal is to bring our partners satified lifetime customers - and to get there, we are always searching for the best product fits for our audience.</p>
	<br>

	<h2 class="centered">Can you benefit from a thatHQ promotion?</h2>
	
	<p>Do you have a product, course, or book you want to get in front of a large audience looking to support black-owned businesses?</p>
	
	<p>Do you have an online presence that you want to improve?</p>
	
	<p>Are you great at creating products but have a tough time promoting it yourself?</p>
	<br>
	<p class="centered"><b>If you answered yes to any of these questions, we would love to hear from you!</b></p>
	<br><br>

	<%= render 'form', partnership_application: @partnership_application %>

</div>
