
<div class="form-content">

	<h1>Order Review</h1>

	<br><br>

	<div class="order-review-section">
		
		<h2><span class="number-badge">1</span>Review Your Order</h2>

		<div class="order-review-section-content">

			<table>
				
				<tr>
					<th>Description</th>

					<th>Price</th>

					<th></th>

				</tr>

				<% @order.order_offers.each do |item| %>
				
					<tr>
				
						<td><%= item.offer.name %></td>

						<td>$89</td>

						<td>Remove</td>
					
					</tr>

				<%end%>

				<tr>
				
					<td></td>

					<td></td>

					<td><%= "$6779" %></td>
					
				</tr>

			</table>

		</div>

	</div>

	<br><br>

	<%= form_tag confirm_and_pay_for_order_path(@order.id) do %>

		<div class="order-review-section">

			<h2><span class="number-badge">2</span>Enter Your Details</h2>

			<div class="order-review-section-content">

					<% unless user_signed_in? %>
						
						<div class="field">

							<label>Your Email</label>

							<input type="text" name="contact_email" placeholder="you@example.com" required></input>
						
						</div>

					<%end%>

					<% unless @digital_product #will need to change later %> 
						
						<div class="field">

							<label>Mailing Address</label>

							<input type="text" name="mailing_address" placeholder="123 Example St., Chicago, IL, 60601" class="geocomplete-input" required></input>

						</div>

					<%end%>

			</div>		
			
		</div>

		<br><br>

		

		<div class="order-review-section">

			<h2><span class="number-badge">3</span>Provide Payment Information</h2>

			<div class="order-review-section-content">

				<%= render 'orders/credit_card_form' %>

			</div>

		</div>

		<br><br>

		<input class="button" type="submit" value="Confirm & Purchase"></input>
	
	<%end%>

</div>