<div class="signup-container">
	<div class="fancy-border">
	</div>

	<table>

		<tr>

			<td>

				<div class="row">
  
			        <div class="col-xs-12 col-sm-6">

			        	<div class="signup-section">

			        		<header class="site-name">BlackBacker</header>

			        		<br>
			        		
			        		<p>We Promote Cool Products from Great Black-Owned Businesses</p>

			        	</div>

			        </div>

			        <div class="col-xs-12 col-sm-6">
			        	
			        	<div class="signup-section">
				        	
				        	<header class="signup-header">Get Our Free Newsletter</header>

				        	<form>

				        		<input class="signup-email-input" type="text" placeholder="Your Email"></input>

				        		<br>

				        		<input class="button rounded signup-submit" type="submit" value="Signup">

				        	</form>

			        	</div>

			        </div>

		    	</div>

			</td>

		</tr>

		<tr class="bottom-continue centered">

			<td><span class="glyphicon glyphicon-circle-arrow-down signup-cta-down-arrow" aria-hidden="true"></span></td>

		</tr>


	</table>

</div>
