<div class="signup-container">
	
	<div class="fancy-border fixed"></div>

	<div class="overlay">

		<table>

			<tr>

				<td>

					<div class="row">
	  
				        <div class="col-xs-12 col-sm-6">

				        	<div class="signup-section">

				        		<header class="site-name">thatHQ</header>

				        		<br>

				        		<p>We Promote Cool Products from Great Black-Owned Businesses</p>

				        	</div>

				        </div>

				        <div class="col-xs-12 col-sm-6">
				        	
				        	<div class="signup-section">
					        	
					        	<header class="signup-header">Get Our Free Newsletter</header>

					        	<form id="newsletter-signup" action="/newsletter_signup/create" method="post">
							        
							        <input type="text" name="signup-email" class="signup-email-input" id="signup-email" placeholder="Enter Your Email"/>

							        <br>

							        <input class="button rounded email-signup-cta" type="submit" id="signup-button" value="Sign Me Up!" />
								</form>

				        		<br>

				        	</div>

				        </div>

			    	</div>

				</td>

			</tr>

			<tr class="bottom-continue centered">

				<td><span class="glyphicon glyphicon-circle-arrow-down signup-cta-down-arrow" aria-hidden="true"></span></td>

			</tr>


		</table>

	</div>

</div>

