
<div class="home-landing">
	
	<div>
		
		<section class="intro">

			<nav>

				<%= link_to "thatHQ", root_path %>

			</nav>
			
			<div class="section-content">
				
				<div class="row">

					<div class="col-xs-12 col-sm-8">

						<h1>Learn from the Best, Fast</h1>

						<p>Answer ... to get a personalized reading list of books and articles curated to be .......</p>

						<br>

						<%= link_to "Get Lifetime Access for $19", signup_path, class:"button yellow-background medium stretch-on-mobile" %>

						<%= link_to "Learn More", root_path, class:"button yellow-background medium stretch-on-mobile" %>

						<br><br>

						<%= link_to "I want a 25% discount", root_path %>



					</div>

					<div class="hidden-xs col-sm-4">
						
						<%# image_tag 'hero_image.PNG' %>

					</div>

				</div>
				
			
			</div>

		</section>

	</div>

	<div>

		<section class="more-information">

			<h2 class="centered">Book Span</h2>

		</section>
	
	</div>

</div>

