<div class="sub-header">

	<div class="category-content">
		
		<% OfferCategory.where(:front_page => true).take(4).each do |offer_category| %>

			<%= link_to offer_category.name, offer_category_index_path(offer_category.url_slug), class: cp(offer_category_index_path(offer_category.url_slug)) %>

		<%end%>

	</div>

</div>
