
<div class="content">

	<h1 class="centered">Great Products from Black-Owned Businesses</h1>

	<br>

	<% Offer.all.each do |offer| %>
		
		<%= render 'offers/hero_index', offer: offer %>

	<%end%>

</div>
