<%# render 'pages/offer_categories_header' %>

<%# render 'offers/offer_index', offers: Offer.all %>

<section>

	<header>Section 1</header>

	<div class="row">
		
		<div class="col-xs-4 col-sm-3 col-md-2">
			XXYYZZ
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2">
			XXYYZZ
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2">
			XXYYZZ
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2">
			XXYYZZ
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2">
			XXYYZZ
		</div>

		<div class="col-xs-4 col-sm-3 col-md-2">
			XXYYZZ
		</div>

	</div>

</section>