<div class="full-screen-popover personal-settings-container active" id="personal-settings-container">
	
	<div class="fancy-border fixed"></div>

	<table>

		<tr>

			<td>

				<h2>Enter Your Payment Information</h2>

				<div class="content medium">

					<form>
						
						<%= render 'orders/credit_card_form' %>
						
						<input type="submit" value="Complete Signup" class="button orange-background"></input>
					</form>

				</div>

				<br><br>

			</td>

		</tr>

	</table>

</div>