<h1>Editing Personalization Question</h1>

<%= render 'form', personalization_question: @personalization_question %>

<%= link_to 'Show', @personalization_question %> |
<%= link_to 'Back', personalization_questions_path %>
