
<section class="row offer-hero-index">

	<div class="col-xs-12 col-sm-6">

		<img src="https://s3.amazonaws.com/media.appsumo.com/cache/dc/7a/dc7af207d72d0f636a0b631e553de02f.jpg">

	</div>

	<div class="col-xs-12 col-sm-6">

		<header><%= offer.name %></header>

		<p>by The Creator</p>

		<p>Quick Sales Quip</p>

		<p>Twitter, Insta, Facebook</p>

		<br>

		<a class="offer-hero-cta">Buy for [price]</a>
		
		<br><br>

		<a class="learn-more-cta">Learn More</a>

	</div>

</section>
