
<section class="row offer-hero-index">

	<div class="col-xs-12 col-sm-6">

		<%= link_to show_offer_formatted_path(offer.name_url_slug) do %>
			
			<img src="https://s3.amazonaws.com/media.appsumo.com/cache/dc/7a/dc7af207d72d0f636a0b631e553de02f.jpg">

		<%end%>

		<p>Twitter, Insta, Facebook</p>

	</div>

	<div class="col-xs-12 col-sm-6">

		<header><%= offer.name %></header>

		<p>by The Creator</p>

		<p>Quick Sales Quip</p>

		<br>

		<a class="offer-hero-cta">Buy for [price]</a>
		
		<br><br>

		<%= link_to "Learn More", show_offer_formatted_path(offer.name_url_slug), class:"learn-more-cta" %>

	</div>

</section>
