
<div class="content">

  <div class="row">
    
    <% x = offers.count / 3 %>

    <% per_col = x.to_i %>

    <% i = 0 %>

    <div class="col-xs-12 col-sm-4 col-md-2 no-padding">

	    <% offers[i,per_col + 1].each do |offer| %>
	        
	        <%= render 'offers/hero_index', offer: offer %>

	        <% i = i + 1 %>

	    <%end%>

    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-2 no-padding">

	    <% offers[i,per_col + 1].each do |offer| %>
	        
	        <%= render 'offers/hero_index', offer: offer %>

	        <% i = i + 1 %>

	    <%end%>

    </div>


    <div class="col-xs-12 col-sm-4 col-md-2 no-padding">

	    <% offers[i, per_col].each do |offer| %>
	        
	        <%= render 'offers/hero_index', offer: offer %>

	        <% i = i + 1 %>

	    <%end%>

    </div>


    <div class="col-xs-12 col-sm-4 col-md-2 no-padding">

	    <% offers[i, i + per_col].each do |offer| %>
	        
	        <%= render 'offers/hero_index', offer: offer %>

	        <% i = i + 1 %>

	    <%end%>

    </div>

  </div>

</div>
