
<div class="mobile-bottom-cta-container">

  <% unless @offer.affiliate %>
				
		<%= link_to "Buy Now", add_offer_to_order_path(@offer.name_url_slug), class:"offer-hero-cta" %>

	<%else%>

		<%= link_to "Buy Now", @offer.affiliate_link, class:"offer-hero-cta", target: :_blank %>

	<%end%>

</div>