
<div class="content">

  <div class="row">
    
    <% offers.all.each do |offer| %>
      
      <div class="col-xs-12 col-sm-6 col-md-4">
        
        <%= render 'offers/hero_index', offer: offer %>

      </div>

    <%end%>

  </div>

</div>
