
<div class="offer-landing-page">

	<section class="row">

	<div class="col-xs-12 col-sm-4 col-md-3 offer-header-image">

		<img src="https://s3.amazonaws.com/media.appsumo.com/cache/dc/7a/dc7af207d72d0f636a0b631e553de02f.jpg">

		<div class="row">

			<div class="hidden-xs col-sm-12 hidden-md hidden-lg">
				<br>
				<a class="offer-cta">Buy for [price]</a>
			</div>

		</div>

	</div>

	<div class="col-xs-12 col-sm-8 col-md-6">

		<%= render 'offers/headline_and_article_content', offer: @offer %>

	</div>

	<div class="hidden-xs hidden-sm col-md-3">

		<a class="offer-cta">Buy for [price]</a>

	</div>	

</div>

<%= render 'offers/offer_mobile_cta' %>

