<div class="offer-main-image-container" style="background-image: url(https://s3.amazonaws.com/media.appsumo.com/cache/dc/7a/dc7af207d72d0f636a0b631e553de02f.jpg);">


</div>

<article class="offer-main-content">

	<h1><%= @offer.headline %></h1>

	<h2><%= @offer.sub_headline %></h2>

	<br>

	<%= @offer.content.html_safe %>

</article>


<p id="notice"><%= notice %></p>

