
<div class="offer-landing-page">

	<section class="row">

		<div class="col-xs-12 col-sm-6 offer-header-image">

			<img src="https://s3.amazonaws.com/media.appsumo.com/cache/dc/7a/dc7af207d72d0f636a0b631e553de02f.jpg">

			<br><br>
		
			<a class="offer-cta">Add to Cart</a>

		</div>

		<div class="col-xs-12 col-sm-6">

			<%= render 'offers/headline_and_article_content', offer: @offer %>

		</div>

	</section>

</div>

<%= render 'offers/offer_mobile_cta' %>

