<div class="written-content-header">
	
	<div class="written-content-header-overlay">
		
		<h1><%= @post.title %></h1>
	
	</div>

</div>


<div class="content medium written has_header">

	<h1 class="underlined-header"><%= @post.title %></h1>

	<div class="centered">
		<%= image_tag @post.image(:medium), class:"main-image" %>
	</div>
	
	<br><br>

	<%= @post.content.html_safe %>


</div>