<div class="content medium written">

	<h1 class="underlined-header"><%= @post.title %></h1>

	<div class="centered">
		<%= image_tag @post.image(:medium), class:"main-image" %>
	</div>
	
	<br><br>

	<%= @post.content.html_safe %>


</div>