// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$books-theme-color: #303F9F;
$courses-theme-color: #388E3C;
$interviews-theme-color: #EF6C00;
$tools-theme-color: #455A64;
$coaching-theme-color: #7B1FA2;
$free-theme-color: #D50000;
