// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'colors';


//BASICS

.button{

    display: inline-block;
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.8);
    margin: 10px auto;
    font-size: 20px;
    text-align: center;

    border-radius: 3px;
    text-shadow: none;
    font-weight: 200;
    transition: all 0.6s;
    text-decoration: none;
    color: #fff;
}

.button:hover{
    transform:scale(1.05);
    text-decoration: none;
    color: #fff;
}



//COLOR WITH BACKGROUNDS

.button.red-background{
    background: $brand-red;
}

.button.green-background{
    background: $brand-green;
}

.button.grey-background{
    background: #bbb;
    font-weight: 500;
}

.button.yellow-background{
    background: $brand-yellow;
    color: #222;
    text-shadow: none;
    font-weight: 800;
}

.button.orange-background{
    background: $brand-orange;
    color: #fff;
    text-shadow: none;
}

.button.blue-frame{
    border: 2px solid $brand-blue;
    color: $brand-blue;
    background: #fff;
    text-shadow: none;
    font-weight: 500;
}


//SIZES

.button.stretch{
    width: 100%;
}



.button.small{
    font-size: 16px;
}