// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-container{

	.footer-content{
		max-width: 1200px;
		margin: 0 auto;
		padding: 25px 50px;

		a{
			color: #666;
			text-decoration: none;

		}
		
		a:hover{
			
			color: #333;
			
		}
	}

}