// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-container, .header-container-offset{
	height: 80px;
}

.header-container-offset{
	display: none;
}

.header-container{
	width:100%;
	background: #000;
	color: #fff;
	z-index: 999;	
	border: none;
	left:0px;
	right:0px;
	box-shadow: none;
	margin-top: -1px;
	margin-bottom: -1px;

	a{
		padding: 10px;
		line-height: 60px;
		color: #fff;
		display: inline-block;

	}

	a:hover{
		text-decoration: none;
	}
}

.header-container.fixed{
	position: fixed;
	top: 4px;
}

.main-nav{
	opacity: 0;
}

.main-nav.active{
	opacity: 1;
}
