// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header-container, .header-container-offset{
	height: 80px;
}

.header-container{
	width:100%;
	font-size: 18px;
	background: #000;
    position: fixed;
	color: #fff;
	z-index: 99999;
    top:4px;	
	border: none;
	left:0px;
	right:0px;
	box-shadow: none;

	a{
		padding: 10px;
		line-height: 60px;
		color: #fff;
		display: inline-block;

	}

	a:hover{
		text-decoration: none;
	}

	a.logo{
		letter-spacing: 2px;
    	font-size: 24px;
	}
}

.header-container.fixed{
	position: fixed;
	top: 4px;
}

.main-nav{
	
}

.main-nav.active{
	opacity: 1;
}

.header-option{
	position: absolute;
}

.header-option.left{
	left: 0px;
}

.header-option.right{
	right: 0px;
}


a.cheeseburger-container{
	cursor: pointer;
}


.cheeseburger {
	font-weight: 800;
   	font-size: 20px;
   	margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 28px;
    height: 22px;
    margin-right: 0.3em;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    cursor: pointer;
    top: 6px;
}

.cheeseburger:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    border-top: 4px solid #fff;
}

.header-login-option{
	display: none;
}

.sub-header{
	
    background: #fff;

    position: fixed;

    top: 84px;

    z-index: 9999;

    width: 100%;
    overflow: auto;
    white-space: nowrap;

    h1{
    	margin: 0 auto;
    	padding: 20px 10px;
    	color: #fff;
    	text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
    	font-size: 24px;

    }

    .category-content{

        padding: 10px 0px;

    	a{
    		padding: 5px 10px;
    		display: inline-block;
            font-weight: 300;
    		color: #fff;
    		background: #111;
            border: 1px solid rgba(255,255,255,0.2);
            font-size: 20px;
            text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
            box-shadow: inset 0px 1px 1px rgba(255,255,255,0.3), 0px 2px 1px rgba(0, 0, 0, 0.2);
    		cursor: pointer;
            text-decoration: none;
            border-radius: 30px;

            margin: 0px 10px;
    	}

    	a.active{
    		background: #FC8437;
            border: 1px solid rgba(0,0,0,0.2);
    		color: #111;
            text-shadow: none;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
            font-weight: 500;
    	}
    }
}

