// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';


div.home-landing{
	
	section{
		height: 80%;
		min-height: 300px;
		position: relative;

		.section-content{
			max-width: 1000px;
			margin: 0 auto;
			position: relative;
			padding: 100px 20px;
		
			h1{
				display: inline-block;
			}

			h2{
				
				font-size: 40px;
				margin-bottom: 1em;
			
			}

			p{
				font-weight: 300;
			}

		}
	}

	section#intro{

		background: #005C97;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		nav{
			a{
				padding: 20px;
				cursor: pointer;
				text-decoration: none;
				font-size: 18px;
				display: inline-block;
			}
		}

		h1, h2, p {
			color: #fff;
		}

		h1{
		    font-size: 48px;
		    text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
		}



		p{
			font-weight: 300;
		}
		

		z-index: 20;

		.section-content{
			padding: 100px 20px;
			padding-bottom: 20px;
		}

		a.button.yellow-background{
			
			box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    		border: 1px solid rgba(0,0,0,0.1);
		}
	}

	section#intro:before {
	    
	}

	section#intro:after {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    width: 100%;
	    height: 120%;
	    top: 0;
	    transform: skewY(-6deg);
	    background: #005C97;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	section#more-information{
		
		padding-top: 100px;

		p{
			text-align: justify;
		}

	}

	section#more-information:before {
	    
	}

	section#why-reasoning{
		background: #CA4A14;
		color: #fff;

		h2{
			color: #fff;
			text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
		}
	}

}