// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 768px) {
	
	html {

		body {

			.mobile-only{
				
				display: none !important;

			}

			.full-screen-only{
				
				display: inherit !important;

			}

			.col-xs-1.no-padding, .col-xs-2.no-padding, .col-xs-3.no-padding, .col-xs-4.no-padding, .col-xs-5.no-padding, .col-xs-6.no-padding, .col-xs-7.no-padding, .col-xs-8.no-padding, .col-xs-9.no-padding, .col-xs-10.no-padding, .col-xs-11.no-padding, .col-xs-12.no-padding {
	    		
	    		padding: 0px 15px;
	    		margin-bottom: 0px;
			}

			.header-login-option{
				display: inline-block;
			}

			div.signup-container{
				
				min-height: 300px;

				div.signup-section{
					text-align: justify;
				}

			}

			.offer-hero-cta{
				

				margin: 0px;
				max-width: 100%;

			}

			.offer-main-content{
				
				font-size: 18px;
				padding: 0px 15px;


				p{
					font-size: 16px;
				}
			}

			.offer-hero-index{

				margin-bottom: 20px;

			}

			.order-review-section{

				.order-review-section-content{
					padding: 30px;
				}

			}

			.mobile-bottom-cta-container{

				display: none;	
			}

			.offer-ctas{
				padding: 15px;
				display: block;
			}


			.offer-landing-page{
	
			    padding: 50px 20px;

				.offer-header-image{

					margin-bottom: 0px;

				}

			}

			.header-container{
				top: 4px;
			}

			.sub-header{

				display: none;

			    h1{

			    	padding: 20px;
			    	font-size: 40px;

			    }

			}

			.sidebar-container{
				display: inline-block;
				top: 64px;
			}

			.content-header-container{

				position: fixed;
			    top: 64px;
			    left: 200px;
			    background: #fff;
			    padding-left: 40px;
			    right: 0px;

			    height: 50px;

			    div.child-category-dropdown{
        
		        	left: 50px;

				}

			}

			.content.written{
				margin: 30px auto;
				border: 1px solid #ddd;
			}

			.main-content{
				position: absolute;
    			left: 200px;
    			top: 114px;
    			width: auto;
    			right: 0px;
    			padding: 50px;
    			
    			section{

    				padding: 0px;

    				header{
    					font-size: 30px;
    					font-weight: 200;
    				}

    			}
			}

			.footer-container{
				
				left: 200px;
    			right: 0px;
    			position: absolute;

			}

		}

	}

}


@media only screen and (min-device-width: 768px) {
	@media only screen and (max-width: 768px) {
		
		html {

			body {

				nav.content-header-container{
					
					top: 140px;

				}

			}

		}

	}

}
    