// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width: 768px) {
	
	html {

		body {

			.mobile-only{
				
				display: none !important;

			}

			.full-screen-only{
				
				display: inherit !important;

			}

			div.signup-container{
				
				min-height: 300px;

				div.signup-section{
					text-align: justify;
				}

			}

			.offer-hero-cta{
				

				margin: 0px;
				max-width: 100%;

			}

			.offer-main-content{
				
				font-size: 18px;
				padding: 0px 15px;


				p{
					font-size: 16px;
				}
			}

			.offer-hero-index{


				header{
					font-size: 48px;
					font-weight: 600;
					margin-bottom: 20px;
				}

				.hero-index-content{
					padding: 0px 30px;
					margin-bottom: 30px;
				}
			}

			.mobile-bottom-cta-container{

				display: none;	
			}

			.offer-ctas{
				padding: 15px;
				display: block;
			}

			img.social-media-button{
				width: 64px;
				height: 64px;
			}

			.offer-landing-page{
	
			    padding: 50px 20px;

				.offer-header-image{

					margin-bottom: 40px;

				}

			}

		}

	}

}