// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-content{
	
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.offer-main-content{
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	font-size: 20px;
	color: #555;
	line-height: 1.3;
	padding: 15px 0px;

	h1{
		color: #111;
		margin: 0px 0px 30px 0px;
		font-weight: 800;
		font-size: 36px;
	}

	h2{
		color: #111;
		margin: 0px 0px 20px 0px;
		font-size: 24px;
	}

	p{
		font-size: 16px;
	}
}

.offer-cta-content{
	display: inline-block;
}

.offer-main-image-container{

    min-height: 180px;
    height: 200px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .offer-main-image{

		vertical-align: middle;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    position: absolute;
	    right: 0;
	    top: 0;

    }
}


.offer-ctas{

	display: none;
}

.offer-hero-index{
	
	margin: 0 auto;

	width: 100%;

	max-width: 1200px;

	color: #111;

	border: 1px solid #ddd;

    padding: 25px 10px;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    color: #111;

	img.hero-image{
		max-width: 100%;
		border: 1px solid rgba(0,0,0,0.3);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	}

	header{
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.hero-index-content{
		padding: 0px 0px;
		margin-bottom: 0px;
	}
}

.offer-hero-index:last-child{
	margin-bottom: 0px;
}

.offer-hero-cta{
	
    letter-spacing: 0.5px;
	padding: 10px 20px;

	background: #000;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);



	max-width: 100%;
	font-weight: 600;
	width: 100%;
	margin: 0 auto;

	display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.offer-hero-cta:hover{
	color: #fff;
	text-decoration: none;
}

.learn-more-cta{
	
    letter-spacing: 0.5px;
	padding: 10px 20px;

	background: #FC8437;
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);



	max-width: 100%;
	font-weight: 600;
	width: 100%;
	margin: 0 auto;

	display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.learn-more-cta:hover{
	text-decoration: none;
	color: #fff;
}

.offer-landing-page{
	
	max-width: 1200px;
    margin: 0 auto;
    padding: 30px 10px;
    padding-bottom: 40px;

    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);


	.offer-header-image{

		margin-bottom: 0px;
		color: #111;

		img.main-image{
			width: 100%;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
			border: 1px solid #ddd;
		}
	}	

	


}

.offer-cta{

	border-radius: 3px;
	padding: 15px 20px;

	background: #35D423;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 18px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);

	max-width: 100%;
	font-weight: 800;
	width: 100%;
	margin: 0 auto;

	display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

.offer-cta:hover{
	text-decoration: none;
	color: #fff;
}