// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.order-review-section{
	border: 2px solid #aaa;
	padding: 0px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);

	h2{
		border-bottom: 2px solid #aaa;
		background: #ddd;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    	padding: 15px;
    	margin: 0px;
    	margin-bottom: 10px;
    	box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
	}

	.order-review-section-content{
		padding: 30px;
	}

	table{
		
		width: 100%;
    	display: block;

    	tbody{
    		
    		width: 100%;
    		display: block;

		    tr{
		    	width: 100%;
		    	display: block;

		    	th, td{
		    		padding: 10px 20px;
		    		width: 25%;
		    	}
		    }
    	}
	}

}

.number-badge{
	
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #333;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}