// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';


.content{
	padding: 15px;
	margin: 0 auto;
	max-width: 1100px;
	font-size: 18px;

	h1.underlined-header{
		text-align: center;
	}

	h1.underlined-header:after{
		content: "";
	    display: block;
	    position: relative;
	    width: 40%;
	    height: 2px;
	    background-color: #111;
	    margin: 1em auto;
	}


}

.content.medium{
	
	max-width: 600px;
}



.content.written{
	
	text-align: justify;

	font-weight: 300;
	   
	color: #222;

	border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);

	background: #fff;

	img{
		max-width: 100%;
	
	}

	p{
		margin: 20px 0px;
		display: inline-block;
	}

	section{

		margin-bottom: 20px;

		header{
			font-weight: 500;
			color: #0D47A1;
			border-bottom: 2px solid;
			padding-bottom: 5px;
			font-size: 20px;
		}

		p{
			color: #666;
		}
	}

	section:last-of-type{
		margin-bottom: 0px;
	}

}

.card{
	border: 1px solid #ccc;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	background: #fff;

	.card-content{
		padding: 20px;
	}
}

ul.horizontal{

	list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    display: block;
	
	li{

		display: inline-block;
        text-align: center;
        vertical-align: top;

		a{

			display: block;
            font-size: 18px;
            padding: 10px;
           	
		}

	}

}

.stick-in-parent.fixed{
	position: fixed;
	top: 200px;
}

img.social-media-button{
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.flash-prompt{
	
	background: #fbb;
	padding: 15px 0px;
	color: #933;
    border: 1px solid #933;

	p{
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
		font-size: 18px;
	}
}

.bootsy_text_area, .wysihtml5-sandbox{
	height: 900px !important;
}

.main-content{
	
	position: absolute;

	top: 200px;

	width: 100%;

	padding: 10px;

	section{
		
		padding: 0px;
		max-width: 1200px;
		position: relative;

		header{
			margin-bottom: 15px;
			font-size: 20px;
			display: inline-block;
			font-weight: 600;
			line-height: 40px;
			color: #111;
		}

		.see-all-cta{
			position: absolute;
			right: 0px;
			line-height: 20px;
			padding: 10px 30px;
			background: #111;
			color: #fff;
			text-decoration: none;
			box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    		border: 1px solid rgba(0,0,0,0.3);
   			text-shadow: 0px 1px 1px rgba(0,0,0,0.4);

		}

		.see-all-cta.blogs{
       		background: $blogs-theme-color;
    	}

    	.see-all-cta.books{
       		background: $books-theme-color;
    	}

    	.see-all-cta.coaching{
       		background: $coaching-theme-color;
    	}

    	.see-all-cta.courses{
       		background: $courses-theme-color;
    	}

    	.see-all-cta.tools{
       		background: $tools-theme-color;
    	}

    	.see-all-cta.interviews{
       		background: $interviews-theme-color;
    	}
	}
}
