// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.sidebar-container{
    height: 100%;

    display: none;
    width: 200px;
    position: fixed;
    background: #fff;
    left:0px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    top: 80px;
    box-shadow: 2px 0px 2px rgba(0,0,0,0.1);

    .sidebar-category{
        
        display: inline-block;
        width: 100%;
        line-height: 50px;
        height: 50px;
        cursor: pointer;
        font-weight: 300;

       

        text-decoration: none;
        font-size: 20px;
        color: #333;


        .glyph{
            
            line-height: 50px;
            width: 50px;
            text-align: center;
            padding: 0px 10px;
            top: 0px;
            color: #fff;
            display: inline-block;
            vertical-align: top;
        }

        .sidebar-category-text{
            padding: 0px 10px;
            line-height: 50px;
            height: 50px;
            display: inline-block;
            vertical-align: top;
        }

        .sidebar-category-text.sub{
            font-size: 16px;
            padding-left: 20px;
        }

    }

    .sidebar-category.active{

        border-bottom: none;
        color: #111;
        font-weight: 600;
        box-shadow: none;
        background: #ddd;

        border-top: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
        border-right: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .sidebar-category.active.books{
        background: $books-theme-color;
        color: #fff;
    }

    .sidebar-category.active.courses{
        background: $courses-theme-color;
        color: #fff;
    }

    .sidebar-category.active.interviews{
        background: $interviews-theme-color;
        color: #fff;
    }

    .sidebar-category.active.tools{
        background: $tools-theme-color;
        color: #fff;
    }

    .sidebar-category.active.coaching{
        background: $coaching-theme-color;
        color: #fff;
    }

    .sidebar-category.active.free{
        background: $free-theme-color;
        color: #fff;
    }

    .sidebar-category.active.blogs{
        background: $blogs-theme-color;
        color: #fff;
    }



    .sidebar-category.books{
        
        .glyph{
            background: $books-theme-color;
        }

    }

    .sidebar-category.courses{
        
        .glyph{
            background: $courses-theme-color;
        }

    }

    .sidebar-category.interviews{
        
        .glyph{
            background: $interviews-theme-color;
        }

    }

    .sidebar-category.tools{
        
        .glyph{
            background: $tools-theme-color;
        }

    }

    .sidebar-category.coaching{
        
        .glyph{
            background: $coaching-theme-color;
        }

    }

    .sidebar-category.free{
        
        .glyph{
            background: $free-theme-color;
        }

    }

    .sidebar-category.blogs{
        
        .glyph{
            background: $blogs-theme-color;
        }

    }

    .sidebar-action{
        display: block;
        padding: 10px;
        color: #444;
        text-decoration: none;
        cursor: pointer;
        font-weight: 300;
    }

    .sidebar-action:hover{
        background: #ddd;
    }

}

.content-header-container{
    
    font-size: 20px;

    position: fixed;

    width: 100%;

    background: #fff;

    z-index: 9999;
    
    border-top: 1px solid #ddd;

    border-bottom: 1px solid #ddd;

    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);

    font-size: 18px;

    top: 118px;

    padding-left: 10px;

    div.child-category-dropdown{
        
        position: absolute;
        top: 48px;
        left: 10px;
        border-radius: 2px;
        box-shadow: 0 2px 40px rgba(0,0,0,0.4);
        background: #fff;
        border: 1px solid #d6d6d6;

        ul{
            list-style-type: none;

            li{
                a{
                    color: #444;
                    padding: 10px;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    font-weight: 300;
                    font-size: 16px;
                }

                a:hover{
                    background: #eee;
                }
            }
        }
    }

    a.content-header-action{
        display: inline-block;
        line-height: 30px;
        padding: 10px;
        color: #666;
        font-weight: 300;
        text-decoration: none;
        cursor: pointer;

    }

    a.content-header-action.active{
        padding-bottom: 7px;
        color: #333;
        font-weight: 500;
        border-bottom: 3px solid #e4f;
    }

    a.content-header-action.active.books{
        border-bottom: 3px solid $books-theme-color;
    }

    a.content-header-action.active.courses{
        border-bottom: 3px solid $courses-theme-color;
    }

    a.content-header-action.active.interviews{
        border-bottom: 3px solid $interviews-theme-color;
    }

    a.content-header-action.active.free{
        border-bottom: 3px solid $free-theme-color;
    }

    a.content-header-action.active.blogs{
        border-bottom: 3px solid $blogs-theme-color;
    }


    a.content-header-action.active.tools{
        border-bottom: 3px solid $tools-theme-color;
    }

    a.content-header-action.active.coaching{
        border-bottom: 3px solid $coaching-theme-color;
    }
}