
<footer class="footer-container">

	<div class="footer-content">

		BlackBacker
		<br>
		Curated in Montreal, Quebec

		<ul class="horizontal">

			<li><%= link_to "About", root_path %></li>
			<li><%= link_to "About", root_path %></li>
			<li><%= link_to "About", root_path %></li>

		</ul>

	</div>

	<br><br><br>
	
	<div class="centered">Copyright <%= Time.now.strftime("%Y") %> BlackBacker, LLC. All Right Reserved.</div>

</footer>