
<div class="fancy-border main-nav"></div>

<nav class="header-container">

	<div class="centered">
		<%= link_to "BlackBacker", root_path %>
	</div>

</nav>

<div class="header-container-offset"></div>