
<nav class="sidebar-container">
	
	
		
		
	<a class="sidebar-category"><span class="glyph glyphicon glyphicon-star"></span><span class="sidebar-category-text">Latest</span></a>

	<a class="sidebar-category"><span class="glyph glyphicon glyphicon-plus"></span><span class="sidebar-category-text">Latest</span></a>

	<%= link_to "Latest", root_path, class: "sidebar-category " + cp(root_path) %>

	<%= link_to "Latest", root_path, class: "sidebar-category " + cp(root_path) %>

	<%= link_to "Latest", root_path, class: "sidebar-category " + cp(root_path) %>

	<%= link_to "Latest", root_path, class: "sidebar-category " + cp(root_path) %>


</nav>

